body {
    text-align:center;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.container {
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    color: black;
    font-family: Raleway;
    font-size: 700%;
}

h2 {
    
    color: #EBAF66;
    font-family: Raleway;
    font-size: 500%;
}

#score {
    text-align: right;
    margin-right: 15%;
    font-size: 400%;
    font-family: Raleway;
    float:right
}

h4 {
    position: absolute;
    bottom: 20%;
    right: 15%;
}

#rules {
    padding: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 25%;
    z-index: 100;
    font-family: Raleway;
    font-size: 150%;
    background-color: #EBAF66;
}

#close {
    font-size: 120%;
    background-color: transparent;
    border: none;
    background-image: none;
    display: flex;
    justify-content: flex-start;
}

#submit_word {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #67E9EB;
    border: 2px solid black;
    margin: 3px;
    width: 50px;
    height: 50px;
    font-family: Raleway;
    font-size: 200%;
    color: black;
}

#invalid_words {
    visibility: hidden;
    color: #EBAF66;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: Raleway;
    font-size: 150%;
}

#used_words {
    left: 75px;
    color: #EBAF66;
    font-family: Raleway;
    font-size: 200%;
    font-size: fit-content;
    width: 400px;
    position: absolute;
    text-align: left;
    justify-content: left;
    flex-wrap: wrap;
}

#words_remaining {
    font-size: 150%;
    color: black;
    font-family: Raleway;
}
